@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tinos:ital,wght@0,400;0,700;1,700&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Tinos', serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

body {
	background-color: #95b4d1;
}

.heading {
	font-family: "Tinos", serif;
	font-size: 48px;
	font-weight: 700;
	font-style: italic;
}
.content {
	justify-content: space-around;
}
.ball {
	background-color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	box-shadow: 10px 12px 20px black;
	display: flex;
	justify-content: center;
	align-items: center;    
}

.ball span {
	font-size: 48px;
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	text-shadow: 2px 2px red;   
    /* transform: translate(50%); */
}

button{
    background-color: yellow;
    padding: 5px 7px;
    font-size: 26px;
    font-weight: 700;
    border: 2px solid gray;
    outline: none;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
	.heading {
		font-size: 26px;
		font-weight: 500;
	}
	.ball {
		height: 60px;
		width: 60px;
	}
    .ball span {
        font-size: 32px;
        font-weight: 600;
    }
    button{
        padding: 4px 5px;
        font-size: 18px;
        font-weight: 600;
    }
}
